<!DOCTYPE html >
<head xmlns: xmlns:background-color="http://www.w3.org/1999/xhtml">
        <meta charset="utf-8">
        <title>SolarProspects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    </head>


			<section id="banner" data-video="images/banner">
				<div class="inner">
					<h1 align="center">Скільки сонячної енергії може накопичити Ваша покрівля</h1>
					<p align="center">Спрощений онлайн-аналіз</p>
				</div>
			</section>


		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="../static/images/system.png" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<h2>Досі не чули нічого про систему?</h2>
								</header>
								<hr />
                                <p align="center">Детальнішу інформацію про систему можна отримати за цим <a href=https://sis.ukrpatent.org/uk/search/detail/1421105/>посиланням</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">ОНЛАЙН-АНАЛІЗ</h2>
                                <h1 align="center">Дайте, будь ласка, відповіді на декілька запитань для того, щоб отримати аналіз</h1>
								<hr />
								<form action="#"  method="POST">
									<div class="field" align="center">
										<label for="name">Вкажіть площу повернутої до півдня частини даху (м^2)</label>
										<input name="size" id="size" type="text" placeholder="Площа покрівлі">
									</div>
									<div class="field" align="center">
										<label for="city">Оберіть відповідний обласний центр</label>
										<div class="select-wrapper">
											<select name="city" id="city">
												<option value=""> Регіон </option>
												<option value="Вінниця">Вінниця</option>
												<option value="Луцьк">Луцьк</option>
												<option value="Дніпро">Дніпро</option>
                                                <option value="Донецьк" style="background-color: #994fa8">Донецьк</option>
                                                <option value="Житомир">Житомир</option>
                                                <option value="Ужгород">Ужгород</option>
                                                <option value="Запоріжжя">Запоріжжя</option>
                                                <option value="Івано-Франківськ">Івано-Франківськ</option>
                                                <option value="Київ">Київ</option>
                                                <option value="Луганськ">Луганськ</option>
                                                <option value="Кропивницький">Кропивницький</option>
                                                <option value="Миколаїв">Миколаїв</option>
                                                <option value="Луганськ">Луганськ</option>
                                                <option value="Львів">Львів</option>
                                                <option value="Одеса">Одеса</option>
                                                <option value="Миколаїв">Миколаїв</option>
                                                <option value="Полтава">Полтава</option>
                                                <option value="Рівне">Рівне</option>
                                                <option value="Суми">Суми</option>
                                                <option value="Тернопіль">Тернопіль</option>
                                                <option value="Харків">Харків</option>
                                                <option value="Херсон">Херсон</option>
                                                <option value="Хмельницький">Хмельницький</option>
                                                <option value="Хмельницький">Хмельницький</option>
                                                <option value="Черкаси">Черкаси</option>
                                                <option value="Чернігів">Чернігів</option>
                                                <option value="Чернівці">Чернівці</option>
                                                <option value="Сімферополь">АР Крим</option>

											</select>
										</div>
                                        <div class="field" align="center">
										<label for="month"> За який період  Вас цікавлять середньостатистичні дані? </label>
										<div class="select-wrapper">
											<select name="month" id="month">
												<option value=""> Період </option>
                                                <option value="Річний" >Річний показник</option>
                                                <option value="1" >Січень</option>
                                                <option value="2" >Лютий</option>
                                                <option value="3" >Березень</option>
                                                <option value="4" >Квітень</option>
                                                <option value="5" >Травень</option>
                                                <option value="6" >Червень</option>
                                                <option value="7" >Липень</option>
                                                <option value="8" >Серпень</option>
                                                <option value="9" >Вересень</option>
                                                <option value="10" >Жовтень</option>
                                                <option value="11" >Листопад</option>
                                                <option value="12" >Грудень</option>


											</select>
										</div>
									</div>



                                        <div class="field">
                                            <div class="image fit">
                                                <img src="../static/images/diagram.png" style="width: 40%; height: 40%" align="center">
                                            </div>

                                        </div>

                                        <div class="field" align="center">
										<label for="k" > За допомогою даної діаграми оберіть відповідний колір </label>
                                            <label for="k"> (шкала, яка розташована по довжині кола, вказує на азимут покрівлі, а та, яка розташована на радіусі кола - на кут нахилу до горизонту. Вам потрібно знайти точку перетину та обрати відповідний колір) </label>

										<div class="select-wrapper" align="center">
											<select name="k" id="k">
                                                <option>Вибрати колір</option>
												<option value="0.3" style="background-color: #0099ed"></option>
                                                <option value="0.4" style="background-color: #0068ad"></option>
                                                <option value="0.5" style="background-color: #994fa8"></option>
                                                <option value="0.6" style="background-color: #ca54af"></option>
                                                <option value="0.7" style="background-color: #ff0074"></option>
                                                <option value="0.8" style="background-color: #ff0023"></option>
                                                <option value="0.9" style="background-color: #ff7800"></option>
                                                <option value="0.95" style="background-color: #ffc200"></option>
                                                <option value="1" style="background-color:#ffe400 "></option>

											</select>
										</div>


                                        </div>


                                    </div>

									<ul class="actions align-center">
										<li><input value="Отримати карту (даний процес може тривати до двох хвилин...)" name="get_map" class="button" type="submit"></li>
									</ul>

										<li style="position: absolute; right: 180px; top:1189px"><input value="Отримати звіт" name="get_result" class="button" type="submit"></li>
                                    </div>
								</form>
							</div>
						</div>
					</section>



		<!-- Scripts -->
			<script type="text/javascript" src="/static/js/jquery.min.js"></script>
            <script type="text/javascript" src="/static/js/jquery.scrolly.min.js"></script>
			<script type="text/javascript" src="/static/js/jquery.scrollex.min.js"></script>
			<script type="text/javascript" src="/static/js/skel.min.js"></script>
			<script type="text/javascript" src="/static/js/util.js"></script>
			<script type="text/javascript" src="/static/js/main.js"></script>


	</div>

</footer>
